<div class="row">
    <ul class="thumbnails">
    {% for art in art_list %}


                <li class="span3">
                 <div class="info">
                   <strong>{% if art.art_obj.title %}{{ art.art_obj.title }}{% else %} Untitled {% endif %}</strong>
        {% if art.artist_name %}
                   <br />
                   <small>
                       by {% if art.artist_url %}<a href="{{ art.artist_url }}">{% endif %}{{ art.artist_name }}{% if art.artist_nickname %}({{ art.artist_nickname }}){% endif %}{% if art.artist_url %}</a>{% endif %}
                   </small>
        {% endif %}
                 </div>
                 <div>
                     <img src="/image/{{ art.art_obj.key.urlsafe() }}" />
                 </div>
                </li>

    {% endfor %}
    </ul>

</div>
<div class="row">
  <div>
    {# TODO: Implement pagination -- add pagination here #}
  </div>
</div>
